<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.drseemasteffensdentistry.com/wp-content/uploads/2013/04/bigstock-Happy-People-7678365.jpg');">
  <div class="banner-content">
    <h1>Get a <span class="yellow-word">Goy</span></h1>
    <p>Keep Shabbat, get a goy </p>
    <%= render 'components/search', placeholder: "Search goys in your city" %>
  </div>
</div>
