<div class="banner" style="background-image: linear-gradient(to top, #9eb8d7, #7793bd, #5470a2, #354d87, #152c6b);">
  <div class="banner-content">
    <h1>Get a <span class="yellow-word">Goy</span></h1>
    <p>Keep Shabbat, get a goy </p>
  </div>
</div>
