<div class="col-xs-6 col-sm-4 col-md-3">
  <!-- insert <div class="card"> -->

    <%= link_to goy_path(goy) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path goy.profile_picture %>);">
          <div class="card-description">
            <h2 class="goy-name"><%= goy.name %></h2>
            <p class="goy-city"><%= goy.city %></p>
          </div>
      </div>
  <% end %>
</div>
