<div class="col-xs-12 col-sm-4">
  <!-- insert <div class="card"> -->
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/users/bdr193');">
      <div class="card-description">

        <h2 class="goy-name"><%= goy.name %></h2>

        <p class="goy-city"><%= goy.address %></p>
        <p class="goy-details-link">see more</p>
      </div>
  </div>
</div>
