<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> by some jews <span style="color:#152C6B">and Ben</span>
  </div>
</div>
