<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> by some jews <a href="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/21077243_10155719802544669_8334701449203982760_n.jpg?_nc_cat=0&oh=1bf6eb04db9afb219140d3bb1638ced9&oe=5BF2F5EF"><span style="color:#152C6B">and some Russian</span></a>
  </div>
</div>
