body.goys.show
{
  background-color: white;


  .avaibilty
  {
    margin-top: -41px;
  }
}

.goy-profil
{
  min-height: 70vh;
  padding-top: 3%;
}

.profil-pic{
    width: 100%;
    background-color: #004d7a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}


.price{
  background-color: $light-gray;
}

.picandname
{
  text-align: center;
  color: white;

  p
  {
    margin-top: 4%;
    font-weight: 400;
    font-family: 'Open Sans';
  }

  .profil-name{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
  }
}

.avaibilty{
  padding-top: 5%;

  h2{
    margin: 4% 0;
  }
}

.availability-tab
{
  // display: inline-block;
  // margin-left: 1%;
}
