body.goys.show{
  background-color: white;


  .avaibilty{
    margin-top: -41px;
  }
}

.goy-profil{
  min-height: 70vh;
  padding-top: 10%;

}

.profil-pic{
    width: 100%;
    background-color: $yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}























// .goy_info{
//   display: flex;
//   justify-content: space-between;
//   margin-top: 5%;
// }

// .picture{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .avatar{
//   height: 200px;
//   width: 200px;
// }
// .name_title{
//   font-size: 36px;
//   color: $darkblue;

// }
// .identity{
//   margin-left: 10%;
// }
// .details{
//   display: flex;


// }
// .skills{
//   flex: 0 0 60%;
// }
// .price{
//   flex: 0 0 40%;

// }
// .bold_price{
//   font-weight: bold;
//   font-size: 32px;
// }
// .light_subtext{
//   margin-top: -1%;
//   color: $lightblue !important;
// }
