<h3 class="text-center">Booked!</h3>

  <div class="match">
    <%= image_tag "#{@booking.jew.profile_picture}", class: "avatar" %>
    <div class="match-ok"><i class="fas fa-handshake" style="color:green; font-size: 64px;"></i></div>
    <%= image_tag "#{@booking.goy.profile_picture}", class: "avatar" %>
  </div>
  <div class="text-center" style="margin-top: 10%">
    <%= link_to 'home', root_path, class: "btn-gag" %>
    <%= link_to 'my bookings', jew_bookings_path(@booking.jew), class: "btn-gag" %>
  </div>


