
<div class="row">
  <% date = Date.today.next_occurring(:saturday) - 1.week %>
  <% 10.times do %>
    <% date += 1.week %>
    <div class="col-md-3 col-xs-12">
      <div class="availability-tab">
        <p>Shabbat of<br/><%= date.strftime('%b %e %y') %></p>
        <p><%= booking_link(@goy, date) %></p>
      </div>
    </div>
  <% end %>
</div>
