
body.goys.index{
  background-color: white;
}

.title-btn{
  margin: 50px 0;
}

.main-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.index-goys{
  width: 100%;
  padding: 0 2%;
}

#map{
  flex: 0 0 40%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
