<% content_for :above_container do %>
  <%= render 'components/banner' %>
<% end %>

<h3 class="text-center">Find you shabbat Goy for the next shabbat</h3>
<div class="row">
  <% @goys.each do |goy| %>
    <%= render 'components/card', goy: goy %>
  <% end %>
</div>

<% content_for :below_container do %>
  <div class="explanation" id="explanation">
    <div class="title-explanation">
      <h3>What is Get a Goy ?</h3>
    </div>
    <div class="text-explanation">
      <p>Get a Goy is the world's first tech-centric platform helping Shabbat observant Jews keep up in todays fast-paced life. We will pair you with the perfect Goy who can perform whatever tasks you need on Shabbat! <br> <br><strong>We promise to never tell God!</strong></p>
      <br>
      <%= link_to "A Randomly Perfect Goy", @random, class: "btn-gag" %>
    </div>
  </div>


<% end %>





