<div class="title">
  <div class="title-text">
    <h3 class="text-center">
      <%= params[:query] == nil ? "See the available Goys" : "See the available Goys in #{params[:query].capitalize}"  %>
    </h3>
  </div>
</div>

<% content_for :below_container do %>
<div class="main-container">
  <div class="index-goys">
    <div class="row">

      <% @goys.each do |goy| %>
        <%= render 'components/card', goy: goy %>
      <% end %>

    </div>
  </div>

    <div
    id="map"
    style="width: 100%;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>

<% end %>
